<!DOCTYPE html>
<html>
	{% load static %}

<head>
	<title>Cloud Assignment 2 | GET</title>
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
	<script type="text/javascript">
		// $('#form').submit(function(event){
		// 	event.preventDefault();
		// 	console.log('debug');
		// 	$.get("http://127.0.0.1:8000/base/read/",
		// 		$('#form').serializeArray(),
		// 		function(data,status){
		// 			$('#result').html(data);
		// 		});
		// });
 	</script>
 	</head>
		
		<body>
		  <div class="wrapper">
		  		<form id = "form" action="{%  url 'parallel:del_handler' %}" method="GET">
		  			<div class = "input-group">
		  				<div class = "txt">Key : </div>
		  				<input type = "text" name = "key">
		  			</div>
		  			<div id = "result">
		  			</div>
  			<button id="btn" type="submit"> SUBMIT </button>
  		</form>
  		</div>
</body>
</html>