<!DOCTYPE html>
<html>
	{% load static %}

<head>
	<title>Cloud Assignment 2</title>
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
	<script type="text/javascript">

  </script>
</head>

<body>
  <div class="wrapper">
    <button class = "btn"><a href = "{% url 'parallel:read_html' %}"> GET </a></button>
    <button class = "btn"><a href = "{% url 'parallel:write_html' %}"> PUT </a></button>
  </div>
</body>
</html>